.jimmy-carousel {
    justify-content: center;
    align-items: center;
    display: flex;
}

.carousel-content-active{
 display: flexbox;
}

.carousel-content-hidden {
    display: none;
}

.carousel-slide-active {
    display:inline-block;
}

.jslide-hidden {
    display: none;
}

.carousel-btn-text {
    border: 3px white solid;
    padding: 10px;
    font-weight: 1000;
    color:white;
    text-shadow: black 2px 2px 2px;
    box-shadow: black  2px 2px 2px;
    background-color: rgba(255,255,255,0.2);
    /* border-radius: 10%; */
    position: relative;
    margin-top: -20px;
    
}

.demo-wrap {
    position: relative;
    padding: 2%;
}
  
.demo-content {
    position: relative;
    margin: 10%;
}
  
.demo-block {
    justify-content: center;
    display: flex;
}

.demo-block h1 {
    font-size: 3rem;
    text-shadow: black 2px 2px 2px;
    text-align: center;
}

.demoButton {
    border: solid 2px yellow;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2rem;
}

.carousel-indicator {
    background-color: white;
    height: 0.9rem;
    width: 01rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}

.carousel-indicator-inactive {
    background-color: grey;
} 