.subpage-content {
    align-items: center;
    display: inline;
}

.info-chunk {
    display: flex;
    margin: 5% 0 7% 0;
}

.chunk-text{
    margin-top: -3.5%;
}

.chunk-left img {
    justify-content: right;
    margin: 0 0 0 5%;
}

.chunk-right img {
    justify-content: left;
    margin: 0 5% 0 0;
}

img {
    align-items: right;
    justify-content: center;
}