@font-face {
  font-family: 'montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf'),
       url('./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #717173;
  background-image: url('/public/assets/logo-no-title-gray.png');
  background-attachment: fixed;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  margin: 0;
}

#app-container {
  display: flex;
  flex-direction: column;
}

.page-body {
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: lighten;
  margin: 5% 27% 0 27%;
}

#homepage {
  margin: 2% 27% 0 27%;
}

.photo-left {
  display: inline-block;
  padding: 10% 0 10% 0 ;
}

.photo-left img {
  float: left;
}

.photo-left div {
  justify-content: center;
  align-items: center;
  margin: 5% 20% 0 0;
}

.photo-right {
  display: inline-flex;
  padding: 10% 0 10% 0 ;
}

.photo-right div {
  float: left;
  justify-content: center;
  align-items: center;
  margin: 5% 5% 0 00%;
}

.photo-right img {
  position: relative;
  float: right;
}

h1, label {
  color: white;
}

h1 {
  font-family: 'montserrat';
  font-size: 40px;
  font-weight: 400;
}

h2 {
  font-family: 'montserrat';
}

p, span {
  font-family: 'montserrat';
  font-size: 14px;
  font-weight: 300;
}


/* 
Headings- Size 40px weight 400 Regular (UPPERCASE)
Body - Size 14px weight 300 Light (Sentence case)
Menu and Buttons - Size 20px weight 400 Regular (UPPERCASE)
Subheadings -  Size 16px weight 400 Regular (UPPERCASE) */