@import '../src/index.css';

@keyframes slide-in {
    from {
        transform: translateY(-75%);
    }
    
    to{
        transform: translateY(0);
    }
}

@keyframes pillar-hover-on {
    from {
        transform: translateY(0);
    }
    
    to{
        transform: translateY(20%);
    }
}

.pillar {
    background-color: black;
    padding: 45% 15% 45% 14.8%;
    display: inline-block;
    margin: 1%;
    position: relative;
    z-index: 0;
    border-radius: 500px;
}

.pillar-center {
    padding: 42% 13% 42% 13%;
    margin-bottom: 3.5%;
}

#pillar-right {
    animation: 2s fadeIn, 2s slide-in;
}

.pillar-left-animation {
    animation: 1s fadeIn, 1s slide-in;
}

.pillar-center-animation {
    animation: 1.5s fadeIn, 1.5s slide-in;
}

.pillar-right-animation {
    animation: 2s fadeIn, 2s slide-in;
}