.box {
  color:red;
  height:100%;
}

#root {
  max-width: 100%;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#app-container {
  display: grid;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#pillar-box, #header {
  grid-area: 1 /1;
}

#header {
  margin: auto;
  position: relative;
  animation: 2.5s fadeIn;
  z-index: 1;
}

#pillar-box {
  margin-bottom: -10
}

