.box {
  color:red;
  height:100%;
}

#root {
  max-width: 100%;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#app-container {
  display: grid;
}

#pillar-box, #header {
  grid-area: 1 /1;
}

#header {
  margin: auto;
}

#header {
  z-index: 10;
}

#pillar-box {
  margin-bottom: -10
} */

